<%
  rootPath = './'
  include(rootPath + '_vars')
-%>
<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title><%= title %></title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="<%= description %>">
  <meta name="keywords" content="<%= keywords %>">
  <meta name="robots" content="index,follow">

  <meta property="og:title" content="<%= title %>">
  <meta property="og:site_name" content="<%= siteName %>">
  <meta property="og:type" content="website">
  <meta property="og:url" content="<%= url %>">
  <meta property="og:description" content="<%= description %>">
  <meta property="og:image" content="<%= ogImage %>">
  <meta property="og:locale" content="ja_JP">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="<%= title %>">
  <meta name="twitter:description" content="<%= description %>">
  <meta name="twitter:image:src" content="<%= ogImage %>">

  <% if (mode === 'production') { -%>
    <%- include(rootPath + '_prodScript') %>
  <% } -%>
</head>
<body>
  <h1><%= title %></h1>
</body>
</html>
